$blue1: #00A4BB;
$blue2: #006F8E;
$red1: #FF3333;
$tinted-background-color: #F9F9F9;
$layout-light-border: #E3E3E3;
$button-new-lightgray-border: #DDD;
$facebook-color: #3B5998;
$gray1: #9DA0A4;
$gray2: #6A6E71;
$gray3: #45494B;
$gray4: #24282A;
$lightgray1: #EBEDEF;
$lightergray1: #F5F5F5;
